img.flyingImageStart {
  opacity: .5;
  max-width: 15vw;
  width: 15vh;
  max-height: 15vw;
  height: 15vh;
  transition: linear 15s;
  display: block;
  position: fixed;
  bottom: -15vh;
  transform: translateX(-50%);
  z-index: -1;
}

img.flyingImageEnd {
  opacity: 0;
  transform: translatex(-50%) translateY(-70vh) scale(0.1);
}
