// main: style.scss

/*Mode Transitions*/
body::before, #banner, tool-tip {
  transition: background 1s ease, background-image 1s ease, color .4s ease;
}
img, button.lock, button.unlock, nav {
  transition: background 1s ease, background-image 1s ease;
}
h1, h2, h3, h4, h5, p {
  transition: color .4s ease;
}
canvas, button {
  transition: filter 1s ease;
}
