// main: style.scss
/*Layout*/
body {
	display: grid;
	grid-template:
		"navi navi"
		"banner banner"
		"body body";
	> nav {
		grid-area: navi;
		z-index: 3;
		position: sticky;
		top: 0;
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: 1fr;
		> * {
			text-align: center;
			padding: .6em;
		}
	}
	> #banner {
		grid-area: banner;
		position: sticky;
		top: 37px;
		z-index: 2;
		padding: 20px 0;
		display: grid;
		grid-template: ". canvas description .";
		> a#canvasLink {
			grid-area: canvas;
			text-align: right;
			canvas {
				margin-right: 10px;
				margin-left: 20px;
			}
		}
		> aside {
			grid-area: description;
			max-width: 400px;
			margin-right: 20px;
			#description {
				min-height: 80px;
				min-width: 300px;
			}
			> * {
				margin: 10px 0 0;
			}
		}
		input {
			width: 0;
		}
	}
	> main {
		grid-area: body;
		width: 95%;
		margin: auto;
		padding: 20px 0 80px;
		div {
			margin-bottom: 15px;
		}
		.description {
			margin-bottom: 4px;
		}
		> div > p + p, > div > br + p {
			margin-top: 8px;
		}
		$clearOffset: 2.1em;
		> #searchBox {
			margin-bottom: 15px;
			max-width: 300px;
			width: 50%;
			padding: 4px 10px 4px 25px;
			transform: translateX(1 / 2 * $clearOffset);
		}
		#clearSearch {
			transform: translateX(-1 / 2 * $clearOffset);
		}
	}
	> div.loading {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	  z-index: 100;
		&.complete {
			pointer-events: none;
		}
	}
}
button {
	margin-top: 4px;
	&.toggle {
		$padding: 4px;
		padding: $padding;
		width: $toggleWidth;
		input {
			display: none;
		}
		label {
			$labelSize: 16px;
			display: block;
			height: $labelSize;
			width: $labelSize;
			&.checked {
				transform: translateX($toggleWidth - (2 * $padding + $labelSize + 2 /*2 x Border width*/));

			}
		}
	}
}
.hidden, .searchHidden {
	display: none;
}
.invisible {
	pointer-events: none;
  opacity: 0;
}
img {
	height: $imgSize;
	width: $imgSize;
}
h1, h2, h3, h4 ,h5 {
	margin-bottom: 5px;
}
image-card {
	position: relative;
	display: inline-block;
	> tool-tip {
		pointer-events: none;
		padding: 5px;
		width: 1.5*$imgSize;
		position: absolute;
		display: block;
		opacity: 0;
		top: $imgSize;
		transform: translate(-25px, -30px);
		z-index: 1;
		transition: opacity .4s ease, transform .6s ease;
	}
	&:hover > tool-tip {
		opacity: 1;
		transform: translate(-25px, 5px);
	}
	&.holiday {
		display: none;
	}
}
