body {
	padding: 0 10px;
}
button.toggle {
	$padding: 4px;
	padding: $padding;
	width: $toggleWidth;
	input {
		display: none;
	}
	label {
		$labelSize: 16px;
		display: block;
		height: $labelSize;
		width: $labelSize;
		&.checked {
			transform: translateX($toggleWidth - (2 * $padding + $labelSize));
		}
	}
}
img {
	height: $imgSize;
	width: $imgSize;
}
.imageCard {
	position: relative;
	display: inline;
}
tooltip {
	width: 1.5*$imgSize;
	position: relative;
	display: block;
}
