// main: style.scss
/*Light mode stylings*/
body.lightMode {
	background: $offwhite;
	color: $black;
	.darkMode {
		display: none;
	}
	&::before {
		content: "";
		background: -webkit-linear-gradient(rgba(200,200,200,0.85) 25%, #dcdcdc), url("../assets/6x6.png");
		background: -o-linear-gradient(rgba(200,200,200,0.85) 25%, #dcdcdc), url("../assets/6x6.png");
		background: linear-gradient(rgba(200,200,200,0.85) 25%, #dcdcdc), url("../assets/6x6.png");
		background-position: center;
		background-size: 100%, $imgSize*6;
		position: fixed;
		top: 0; left: 0; right: 0; bottom: 0;
		filter: blur(3px);
		z-index: -1;
		@media (max-width: 500px), (max-height: 600px) {
			background-size: 100%, $phoneImgSize*6;
		}
	}
	nav {
		// background: #79da77;
		background: #d65e5e;
		// background-image: linear-gradient(90deg, #bdf380, #79da77, #55bba6);
		background-image: linear-gradient(90deg, #fbb387, #d65e5e, #a748a0);
		> a {
			color: $black;
			$transparentBorder: rgba(115, 28, 115, .5);
			$solidBorder: #731c72;
			&:not(:first-child) {
				border-left: 1px solid $transparentBorder;
			}
			&:not(:last-child) {
				border-right: 1px solid $transparentBorder;
			}
			&:hover {
				background: rgba(74,118,134,.3);
				// background: #4a7686;
				color: white;
				text-decoration: none;
			}
		}
	}
	#banner {
		background: $white;
		a {
			color: #0d81e6;
			&:hover {
				color: #4fa3ec;
			}
		}
	}
	button {
	  &.lock {
	    background: url("../assets/darkmode/objects/Lock.png");
	    background-size: cover;
	  }
	  &.unlock {
	    background: url("../assets/darkmode/objects/Unlock.png");
	    background-size: cover;
	  }
	}
	image-card {
		tool-tip {
			background: hsla(0, 0, 85, .75);
			border: 1px solid $offblack;
		}
		img {
			background: hsla(0, 0, 100, .3);
			outline: 2px solid transparent;
			outline-offset: -2px;
			transition: outline .4s ease, background .2s ease;
		}
		&:hover img {
			outline: 2px solid $black;
			outline-offset: -2px;
		}
		&.active {
			tool-tip {
				border-color: $darkgreen;
			}
			img:not(:hover) {
				outline-color: $darkgreen;
			}
		}
	}

	a {
	  text-decoration: none;
	  color: #a748a0;
	  &:hover {
	    text-decoration: underline;
	    color: #d65e5e;
	  }
	}
}
