/*Light mode stylings*/
body.lightMode {
	background: $offwhite;
	color: $black;
	.darkMode {
		display: none;
	}
	&::before {
		content: "";
		background: linear-gradient(rgba(239,236,230,0.8) 25%, $offwhite), url("../assets/Background-Icons.png");
		// background: linear-gradient(rgba(239,236,230,0.8) 25%, $offwhite), url("../assets/6x6.png");
		background-position: center;
		background-size: 100%, $imgSize*6;
		position: fixed;
		top: 0; left: 0; right: 0; bottom: 0;
		filter: blur(3px);
		z-index: -1;
		@media (max-width: 500px) {
			background-size: 100%, $phoneImgSize*6;
		}
	}
	#banner {
		background: $white;
	}
	image-card {
		tool-tip {
			background: hsla(0, 0, 85, .75);
			border: 1px solid $offblack;
		}
		img {
			background: hsla(0, 0, 100, .3);
			outline: 2px solid transparent;
			outline-offset: -2px;
			transition: outline .4s ease, background .2s ease;
		}
		&:hover img {
			outline: 2px solid $black;
			outline-offset: -2px;
		}
		&.active {
			tool-tip {
				border-color: $darkgreen;
			}
			img:not(:hover) {
				outline-color: $darkgreen;
			}
		}
	}
}
