// main: style.scss
/*Mobile layout*/

/*Tablet*/
@media (max-width: 777px) {
  canvas {
    width: 33vw;
  }
  image-card > tool-tip {
    display: none;
  }
}

/*Short Device*/
@media (max-height: 600px) {
  body > div.loading {
    // display: none;
  }
  img {
    height: 60px;
    width: 60px;
  }
  #banner {
    canvas {
      width: 33vh;
    }
    image-card > tool-tip {
      display: none;
    }
    #description {
      display: none;
    }
  }
  @media (max-width: 500px) {
    #title {
      text-align: center;
    }
  }
}

/*Phone*/
@media (max-width: 500px) {
  body > div.loading {
    // display: none;
  }
  img {
  	height: $phoneImgSize;
  	width: $phoneImgSize;
  }
  body p {
    font-size: 15px;
  }
  #banner {
    padding: 10px;
  	grid-template: "canvas" "description";
    >a#canvasLink {
      text-align: center;
    }
    aside {
      max-width: none;
      width: 100%;
    }
  }
  #buttons {
    text-align: center;
  }
}

/*SkinnyPhone*/
@media (max-width: 400px) {
  #banner {
    padding: 10px 0 5px;
    canvas {
      width: 100px;
    }
    #title {
      text-align: center;
    }
    #description {
      display: none;
    }
    br.noMobile {
      display: none;
    }
  }
}

/*Really Short Device*/
@media (max-height: 420px) {
  #banner {
    padding: 10px 0 5px;
    canvas {
      width: 136px;
    }
  }
}
