$black: #1f1f1f;
$white: white;

@import "_buttonMixins";

/*Button Colors*/
#buttons {
	&.Amethyst {@include buttons(#660eb6, #ad21fe);}
	&.Aquamarine {@include buttons(#09829f, #17dedc);}
	&.Aurora {@include buttons(#1b536f, #209db2);}
	&.BloodSky {@include buttons(#a51840, #e63200);}
	&.Bolivian {@include buttonsLight(#e5eb3c, #35f422);}
	&.BronzeSunset {@include buttons(#815143, #faf779);}
	&.BurningHorizon {@include buttons(#ba047b, #ff7c29);}
	&.Camo {@include buttons(#666047, #bfaf8d);}
	&.Chlorophyte {@include buttons(#79c41e, #fbff1f);}
	&.ChocolateDiamond {@include buttons(#5e2e10, #7c4815);}
	&.Cobalt {@include buttons(#2677b7, #17e0dd);}
	&.Copper {@include buttons(#a94809, #ffa100);}
	&.CorrodedSepia {@include buttons(#996271, #f7a975);}
	&.Corruption {@include buttonsDark(#401f46, #890f3d);}
	&.DeepDepths {@include buttons(#035848, #048c67);}
	&.DiscoBlue {@include buttons(#3c6afb, #00d6f7);}
	&.DiscoCyan {@include buttons(#23dba4, #63f701);}
	&.DiscoGreen {@include buttonsLight(#79f768, #f7ef01);}
	&.DiscoOrange {@include buttonsLight(#ec457e, #f78801);}
	&.DiscoPink {@include buttons(#8e00df, #f700c1);}
	&.Flax {@include buttonsDark(#2b62bc, #5788ff);}
	&.Gold {@include buttons(#8b4503, #d3ce30);}
	&.Hematite {@include buttons(#5a5b5d, #8e9093);}
	&.Ice {@include buttonsLight(#9bd8eb, #69facf);}
	&.Jade {@include buttons(#44b8a4, #6ada94);}
	&.Jasper {@include buttons(#d16c00, #fea000);}
	&.Kiwi {@include buttonsLight(#ece99c, #a0bc2b);}
	&.Midnight {@include buttonsDark(#03295b, #044b8c);}
	&.Moonstone {@include buttonsLight(#d2d2d2, #fafafa);}
	&.Mourning {@include buttons(#3b544a, #699081);}
	&.Obsidian {@include buttonsDark(#232323, #464646);}
	&.Peach {@include buttonsLight(#d9a979, #decf87);}
	&.PeaGreen {@include buttons(#448602, #57a305);}
	&.Pearl {@include buttonsLight(#8d8d91, #dbdee2);}
	&.PerfectDay {@include buttonsLight(#6ab5f9, #93ccff);}
	&.Peridot {@include buttons(#37b41d, #9efe1a);}
	&.Pyrite {@include buttonsLight(#be9c18, #ffe830);}
	&.Rhododendron {@include buttonsLight(#b853c5, #da88eb);}
	&.RoseQuartz {@include buttons(#a2219f, #fe56dc);}
	&.Ruby {@include buttons(#a61a08, #e53200);}
	&.SailorsDelight {@include buttons(#ca7066, #f5bf64);}
	&.Sandstorm {@include buttons(#796b37, #f4e17f);}
	&.Sapphire {@include buttons(#2a4abf, #1aa5fe);}
	&.Slate {@include buttons(#43638d, #7facf4);}
	&.Tangerine {@include buttons(#be7f08, #c4a30b);}
	&.Tempest {@include buttonsDark(#5c0340, #8c046d);}
	&.Topaz {@include buttonsLight(#e1c10f, #fbfe1f);}
	&.Twilight {@include buttons(#5b1b94, #c23abb);}
	&.Twitch {@include buttonsDark(#4c357d, #6c1793);}
	&.Void {@include buttonsDark(#1e0a2d, #442f66);}
	&.Zucchini {@include buttons(#3e7425, #75bd48);}

	/* Holiday colors */
	/* -- Halloween -- */
	&.HalloweenBlack {@include buttonsDark(#130b11, #211118);}
	&.HalloweenSunset {@include buttonsLight(#ecb92d, #f0f2b2);}
	&.Pumpkin {@include buttons(#9a3a1d, #ea902b);}
	/* -- ThanksGiving -- */
	&.FallBrown {@include buttonsDark(#684425, #996236);}
	&.FallRed {@include buttons(#c54a26, #ed732e);}
	&.FallOrange {@include buttonsLight(#f2912b, #f8b12c);}
	&.FallGreen {@include buttonsLight(#bba62c, #f8b02a);}
	/* -- Christmas -- */
	&.BerryRed {@include buttons(#850c10, #fe363b);}
	&.MistletoeGreen {@include buttons(#1b7912, #55fe31);}
}
button.disabled {
	background: #777 !important;
	border-color: #888 !important;
	color: #ccc !important;
	cursor: default;
	&:hover {
		background: #666 !important;
		border-color: #888 !important;
		color: #bbb !important;
		cursor: default;
	}
	&#upload {
		background-image: url(../assets/symbols/Upload.png), linear-gradient(#777, #777) !important;
		background-position: right !important;
		background-size: contain !important;
		background-repeat: no-repeat !important;
		&:hover {
			background-image: url(../assets/symbols/Upload.png), linear-gradient(#666, #666) !important;
			background-position: right !important;
			background-size: contain !important;
			background-repeat: no-repeat !important;
		}
	}
}
