$black: #1f1f1f;
$white: #dcdcdc;
$offwhite: #aaa;
$offblack: #383838;
section#head {
  text-align: center;
  font-size: 20px;
  padding: 20px 0;
  position: sticky;
  top: 0px;
  h1 {
    margin: auto;
    border-bottom: 2px solid $offwhite;
    border-radius: 2px;
    width: 350px;
    padding-bottom: 3px;
  }
}

nav#patchesNav {
  top: 116px;
}

main {
  max-width: 700px;
}

div.patch {
  text-align: left;
  margin: 30px auto;
  padding: 8px;
  border-radius: 6px;
  h3 {
    text-align: center;
    padding-bottom: 10px;
  }
}

body.darkMode {
  section#head, div.patch {
    background: $offblack;
    color: white;
  }
}

body.lightMode {
  section#head, div.patch {
    background: #dcdcdc;
    color: $offblack;
  }
}

li {
  margin-bottom: 6px;
}
li li {
  margin-bottom: 0;
}
