$black: #1f1f1f;
$white: #cecece;
$offblack: #383838;
$offwhite: #aaa;
$transparentBlack: rgba(0, 0, 0, .5);
$lightgreen: #9efe1a;
$darkgreen: #37b41d;
$imgSize: 80px;
$phoneImgSize: 60px;
$toggleWidth: 55px;

@import "_reset";
@import "_layout";
@import "_mobile";
@import "_buttonMixins";
@import "buttonColors.css";
@import "_darkmodeTransition";
@import "_lightmode";
@import "_darkmode";

canvas, button {
  filter: drop-shadow(4px 4px 4px $transparentBlack);
}
#buttons {
  @include buttons(#37b41d, #9efe1a);
  button {
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
  }
  * {
    transition: background .3s ease, color .3s ease, filter 1s ease;
  }
  .toggle label {
    transition: background .3s ease, color .3s ease, transform .4s ease;
    cursor: pointer;
  }
  .toggle, .toggle label {
    border-radius: 50px;
  }
}
button {
  padding: 4px 6px;
  &.lock, &.unlock {
    padding: 0;
    margin-top: 0;
    width: 32px;
		height: 32px;
    transform: translateY(-4px);
    border: none;
  }
}
image-card tool-tip {
  text-align: center;
  border-radius: 3px;
}
#shape img {
  background: none;
}
main {
  text-align: center;
  div {
    // font-size: 0;
  }
}
