$black: #1f1f1f;
$white: #dcdcdc;
$offblack: #383838;
$offwhite: #aaa;
$transparentBlack: rgba(0, 0, 0, .5);
$lightgreen: #9efe1a;
$darkgreen: #37b41d;
$imgSize: 80px;
$phoneImgSize: 60px;
$toggleWidth: 55px;

@import "buttonColors.css";
// Reset
@import "_reset";
// Layout
@import "_layout";
// Mobile layout
@import "_mobile";
// Button Mixins
@import "_buttonMixins";
// Darkmode Transitions
@import "_darkmodeTransition";
// Lightmode Scheme
@import "_lightmode";
// Darkmode Scheme
@import "_darkmode";
// General Stylings

body > div.loading {
  background: #303030;
  background-image: url(../assets/Loading.svg), radial-gradient(transparent, #191919);
  background-size: 400px, cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 2s ease .5s;
  opacity: 1;
  &.complete {
    opacity: 0;
  }
}
#banner a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
canvas, button {
  filter: drop-shadow(4px 4px 4px $transparentBlack);
}
#buttons {
  @include buttons(#ba047b, #ff7c29);
  button {
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
  }
  * {
    transition: background .3s ease, color .3s ease, filter 1s ease;
  }
  .toggle label {
    transition: background .3s ease, color .3s ease, transform .4s ease;
    cursor: pointer;
  }
  .toggle, .toggle label {
    border-radius: 50px;
  }
}
button {
  padding: 4px 6px;
  &.lock, &.unlock {
    padding: 0;
    margin-top: 0;
    width: 32px;
		height: 32px;
    transform: translateY(-4px);
    border: none;
  }
}
image-card tool-tip {
  text-align: center;
  border-radius: 3px;
  a {
    text-decoration: none;
    color: inherit;
  }
}
#shape img {
  background: none;
}
main {
  text-align: center;
}

@mixin threeColorAnimation($color1, $color2, $color3) {
  0% {
    color: $color2;
    background: linear-gradient(90deg, $color2, $color3);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  12% {
    color: $color1;
    background: $color1;
    background: linear-gradient(90deg, $color1, $color2, $color3);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  25% {
    color: $color1;
    background: $color1;
    background: linear-gradient(90deg, $color1, $color2);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  37% {
    color: $color2;
    background: $color2;
    background: linear-gradient(90deg, $color1, $color2, $color1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  50% {
    color: $color2;
    background: $color2;
    background: linear-gradient(90deg, $color2, $color1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  62% {
    color: $color3;
    background: $color3;
    background: linear-gradient(90deg, $color3, $color2, $color1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  75% {
    color: $color3;
    background: $color3;
    background: linear-gradient(90deg, $color3, $color2);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  87% {
    color: $color3;
    background: $color3;
    background: linear-gradient(90deg, $color3, $color2, $color3);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  100% {
    color: $color2;
    background: $color2;
    background: linear-gradient(90deg, $color2, $color3);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}

@mixin limitedAppearence($name, $color2, $color3) {
  color: $color2;
  background: $color2;
  background: linear-gradient(90deg, $color2, $color3);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation-duration: .7s;
  animation-name: $name;
  animation-iteration-count: infinite;
}

.limited {
  &.halloween {
    @include limitedAppearence(halloween, #b96c01, $white)
  }
  &.thanksgiving {
    @include limitedAppearence(thanksgiving, #f1b930, #859d3c)
  }
}

@keyframes halloween {
  @include threeColorAnimation($black, #b96c01, $white);
}
@keyframes thanksgiving {
  @include threeColorAnimation(#6c2f00, #f1b930, #859d3c);
}
