/*Text Page*/
body {
  grid-template: "banner" "navi" "body";
}

section#head {
  text-align: center;
  font-size: 20px;
  padding: 20px 0;
  position: sticky;
  top: 0px;
}

section#head h1 {
  margin: auto;
  border-bottom: 2px solid #aaa;
  border-radius: 2px;
  width: 350px;
  padding-bottom: 3px;
}

nav#textPageNav {
  top: 116px;
}

main {
  max-width: 700px;
}

main > div {
  text-align: left;
  margin: 30px auto;
  padding: 8px;
  border-radius: 6px;
}

main > div h3 {
  text-align: center;
  padding-bottom: 10px;
}

@media (max-height: 600px) and (min-width: 500.1px) {
  body > main {
    max-width: none;
  }
  body > main > div {
    max-width: 700px;
    margin: 30px auto;
    padding: 4px;
  }
}

body.darkMode section#head, body.darkMode main > div {
  background: #383838;
  color: white;
}

body.lightMode section#head, body.lightMode main > div {
  background: #dcdcdc;
  color: #383838;
}

div.patch li {
  margin-bottom: 6px;
}

div.patch li li {
  margin-bottom: 0;
}
